<h1>Componente alta</h1>

<div style="border: solid 1px;">

    Nombre: <input type="text" [(ngModel)]="nombre">
    <br>
    Apellido: <input type="text" [(ngModel)]="apellido">
    <br>
    DNI: <input type="number" [(ngModel)]="dni"> 
    <br>
    Edad: <input type="number" [(ngModel)]="edad">
    <br>
    <input type="Radio" name="Gender" [(ngModel)]="gender"  value="Male">Male  
        <input type="Radio" name="Gender" [(ngModel)]="gender" value="Female">Female

</div>

<div>
    <button (click)="ingresar()">Ingresar</button>
</div>
